{% load staticfiles %}
<footer>
<div class="foot">
  <div class="col-md-12">
<div id ="logobox">
          <img class="logof" src="{% static "img/logo.png" %}" alt="Logo" />
          <br>
      </div>
        <div id = "tekstbox">
    <h6 class="biv_footer">
    <h1>  IMMO VIA SOFIE     </h1>
    <p>Mussenhoevelaan 101 <br>
      2530 Boechout <br>
      Tel. +32(0)483 71 37 10 <br>
      Openingsuren: contacteer mij voor een afspraak <br>
      Onderworpen aan de controle van het Beroepsinstituut <br>
      Voor Vastgoedmakelaars <br>
      Erkend vastgoedmakelaar: <br>
      Sofie Andries BIV 509141 <br>
      Ondernemingsnummer: 0541.508.141 <br>
    </p>

  </h6>

  </div>
</div>
  <div class="col-md-3">
      <p><a href="/disclaimer">Disclaimer</a></p>
    </div>
    <div class="col-md-3">
      <p><a href="/privacybeleid">Privacybeleid</a></p>
    </div>
    <div class="col-md-3">
      <ul class="soc">
        <li><a class="soc-facebook" href="https://www.facebook.com/jordan.devogelaere.31" target="_blank"></a></li>
        <li><a class="soc-instagram" href="" target="_blank"></a></li>
        <li><a class="soc-twitter" href="" target="_blank"></a></li>
        <li><a class="soc-pinterest" href="" target="_blank"></a></li>
        <li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/in/sofieandriesen" target="_blank"></a></li>
      </ul>
    </div>
    <p>2016  ©  ViaSofie | vastgoed &amp; advies</p>
  </div>
</footer>
