@font-face {
  font-family: 'RopaSans';
  src: url('../fonts/RopaSansSCPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RopaSansItalic';
  src: url('../fonts/RopaSansPro-Italic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BlanchLight';
  src: url('../fonts/BLANCH_CONDENSED_LIGHT.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Blanch';
  src: url('../fonts/BLANCH_CONDENSED.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
