h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color:red;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

span {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}
