$font-heading: 'RopaSans';
$font-text: 'RopaSans';

$color-primary: #EAC8C6;
$color-secondary: #E8E8E8;
$color-tertiary: #121212;
$color-quartiary: #BAD5CE;

$query-medium: 640px;

$time-short: 256ms;
